{% extends 'layout.html' %}
{% block content %}
    <div class="questionnaire">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Questionnaire 1</legend>
                <p>Please answer the following questions in light of the presented screenshot: </p>
                <h5>Part 1</h5>
                <!-- QUESTION 1 (PART 1) -->
                <div class="form-group">
                    {{ form.perceivedControlQ1.label }}<br>
                    <span>None at all</span>
                    {{ form.perceivedControlQ1(oninput='outputUpdate(value)') }}
                    <span>Complete</span>
                    {% for error in form.perceivedControlQ1.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- QUESTION 2 (PART 1) -->
                <div class="form-group">
                    {{ form.perceivedControlQ2.label }}<br>
                    <span>None at all</span>
                    {{ form.perceivedControlQ2 }}
                    <span>Complete</span>
                    {% for error in form.perceivedControlQ2.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- QUESTION 3 (PART 1) -->
                <div class="form-group">
                    {{ form.perceivedControlQ3.label }}<br>
                    <span>None at all</span>
                    {{ form.perceivedControlQ3 }}
                    <span>Complete</span>
                    {% for error in form.perceivedControlQ3.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- QUESTION 4 (PART 1) -->
                <div class="form-group">
                    {{ form.perceivedControlQ4.label }}<br>
                    <span>None at all</span>
                    {{ form.perceivedControlQ4 }}
                    <span>Complete</span>
                    {% for error in form.perceivedControlQ4.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- QUESTION 5 (PART 1) -->
                <div class="form-group">
                    {{ form.perceivedControlQ5.label }}<br>
                    <span>None at all</span>
                    {{ form.perceivedControlQ5 }}
                    <span>Complete</span>
                    {% for error in form.perceivedControlQ5.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
            </fieldset>
            <fieldset class="form-group">
                <h5>Part 2</h5>
                <!-- QUESTION 1 (PART 2) -->
                <div class="form-group">
                    {{ form.manipulationCheck.label }}
                    {{ form.manipulationCheck }}
                    {% for error in form.manipulationCheck.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- QUESTION 2 (PART 2) -->
                <div class="form-group">
                    {{ form.deliberation.label }}<br>
                    <span>None at all</span>
                    {{ form.deliberation }}
                    <span>A great deal</span>
                    {% for error in form.deliberation.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-info') }}
            </div>
        </form>
    </div>
{% endblock content %}
