{% extends 'layout.html' %}
{% block content %}
    <div class="questionnaire">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Questionnaire 1</legend>
                <p>Please answer the following questions in light of the presented screenshot: </p>
                <h5>Part 1</h5>
                <div class="form-group">
                    {{ form.PerceivedControlQ1.label }}
                    {{ form.PerceivedControlQ1(class='range-field my-4 w-75') }}
                    {% for error in form.PerceivedControlQ1.errors %}
                        <span style="color: #d60000; font-size: 14px">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.PerceivedControlQ2.label }}<br>
                    {{ form.PerceivedControlQ2 }}
                    {% for error in form.PerceivedControlQ2.errors %}
                        <span style="color: #d60000; font-size: 14px">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.PerceivedControlQ3.label }}
                    {{ form.PerceivedControlQ3 }}
                    {% for error in form.PerceivedControlQ3.errors %}
                        <span style="color: #d60000; font-size: 14px">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.PerceivedControlQ4.label }}
                    {{ form.PerceivedControlQ4 }}
                    {% for error in form.PerceivedControlQ4.errors %}
                        <span style="color: #d60000; font-size: 14px">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.PerceivedControlQ5.label }}
                    {{ form.PerceivedControlQ5 }}
                    {% for error in form.PerceivedControlQ5.errors %}
                        <span style="color: #d60000; font-size: 14px">{{ error }}</span>
                    {% endfor %}
                </div>
            </fieldset>
            <fieldset class="form-group">
                <h5>Part 2</h5>
                <div class="form-group">
                    {{ form.ManipulationCheck.label }}
                    {{ form.ManipulationCheck }}
                    {% for error in form.ManipulationCheck.errors %}
                        <span style="color: #d60000; font-size: 14px">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.Deliberation.label }}
                    {{ form.Deliberation }}
                    {% for error in form.Deliberation.errors %}
                        <span style="color: #d60000; font-size: 14px">{{ error }}</span>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.Submit(class='btn btn-outline-info') }}
            </div>
        </form>
    </div>
{% endblock content %}
