{% extends 'layout.html' %}
{% block content %}
    <div class="questionnaire">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Demographic Information</legend>
                <p>First we would like to ask you for some general demographic information:</p>
                <!-- GENDER -->
                <div class="form-group">
                    {{ form.Gender.label(class='radio') }}
                    {{ form.Gender(class='radio') }}
                    {% for error in form.Gender.errors %}
                        <span style="color: #d60000; font-size: 14px">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- AGE -->
                <div class="form-group">
                    {{ form.Age.label(class='form-control-label') }}
                    {{ form.Age(class='form-control form-control-lg') }}
                    {% for error in form.Age.errors %}
                        <span style="color: #d60000; font-size: 14px">{{ error }}.</span>
                    {% endfor %}
                </div>
                <!-- NATIONALITY -->
                <div class="form-group">
                    {{ form.Nationality.label(class='form-control-label') }}
                    {{ form.Nationality(class='form-control form-control-lg') }}
                    {% for error in form.Nationality.errors %}
                        <span style="color: #d60000; font-size: 14px">{{ error }}</span>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.Submit(class='btn btn-outline-info') }}
            </div>
        </form>
    </div>
{% endblock content %}
