{% extends 'layout.html' %}
{% block content %}
    <div class="questionnaire">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Demographic Information</legend>
                <p>First we would like to ask you for some general demographic information:</p>
                <!-- GENDER -->
                <div class="form-group">
                    {{ form.Gender.label(class='radio') }}

                    {% if form.Gender.errors %}
                       {{ form.Gender(class='radio is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.Gender.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Gender(class='radio') }}
                    {% endif %}
                </div>
                <!-- AGE -->
                <div class="form-group">
                    {{ form.Age.label(class='form-control-label') }}

                    {% if form.Age.errors %}
                        {{ form.Age(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.Age.errors %}
                                <span>{{ error }}.</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Age(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
                <!-- NATIONALITY -->
                <div class="form-group">
                    {{ form.Nationality.label(class='form-control-label') }}

                    {% if form.Nationality.errors %}
                        {{ form.Nationality(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.Nationality.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Nationality(class='form-control form-control-lg') }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.Submit(class='btn btn-outline-info') }}
            </div>
        </form>
    </div>
{% endblock content %}
