{% extends 'layout.html' %}
{% block content %}
    <div class="questionnaire">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Questionnaire 2</legend>
                <p>For each statement, please indicate how much it applies to you, ranging from 1 (strongly disagree) 7 (strongly agree).</p>
                <!-- QUESTION 1 -->
                <div class="form-group">
                    {{ form.PrivacyConcernsQ1.label }}
                    {{ form.PrivacyConcernsQ1 }}
                    {% for error in form.PrivacyConcernsQ1.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- QUESTION 2 -->
                <div class="form-group">
                    {{ form.PrivacyConcernsQ2.label }}<br>
                    <table>
                        <tr>
                        {% for subfield in form.PrivacyConcernsQ2 %}
                            <td>{{ subfield }}</td>
                        {% endfor %}
                        </tr>
                        <tr>
                        {% for subfield in form.PrivacyConcernsQ2 %}
                            <td>{{ subfield.label }}</td>
                        {% endfor %}
                        </tr>
                    </table>
                    {% for error in form.PrivacyConcernsQ2.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- QUESTION 3 -->
                <div class="form-group">
                    {{ form.PrivacyConcernsQ3.label }}
                    <table>
                        <tr>
                        {% for subfield in form.PrivacyConcernsQ3 %}
                            <td>{{ subfield }}</td>
                        {% endfor %}
                        </tr>
                        <tr>
                        {% for subfield in form.PrivacyConcernsQ3 %}
                            <td>{{ subfield.label }}</td>
                        {% endfor %}
                        </tr>
                    </table>
                    {% for error in form.PrivacyConcernsQ3.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.Submit(class='btn btn-outline-info') }}
            </div>
        </form>
    </div>
{% endblock content %}
