{% extends 'layout.html' %}
{% block content %}
    <div class="questionnaire">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Demographic Information</legend>
                <p>First we would like to ask you for some general demographic information.</p>
                <!-- QUESTION 1 (GENDER) -->
                <div class="form-group">
                    {{ form.gender.label(class='radio') }}
                    {{ form.gender(class='radio') }}
                    {% for error in form.gender.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- QUESTION 2 (AGE) -->
                <div class="form-group">
                    {{ form.age.label(class='form-control-label') }}
                    {{ form.age(class='form-control form-control-lg') }}
                    {% for error in form.age.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}.</span>
                    {% endfor %}
                </div>
                <!-- QUESTION 3 (NATIONALITY) -->
                <div class="form-group">
                    {{ form.nationality.label(class='form-control-label') }}
                    {{ form.nationality(class='form-control form-control-lg') }}
                    {% for error in form.nationality.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
            </fieldset>
            <p>When you click on 'Next' you will be redirected to the first news website.</p>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-info') }}
            </div>
        </form>
    </div>
{% endblock content %}
