{% extends 'layout.html' %}
{% block content %}
    <div class="questionnaire">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Questionnaire 2</legend>
                <p>For each statement, please indicate how much it applies to you, ranging from 1 (strongly agree) to 7 (strongly disagree):</p>
                <!-- QUESTION 1 -->
                <div class="form-group">
                    {{ form.privacyConcernsQ1.label }}
                    {{ form.privacyConcernsQ1 }}
                    {% for error in form.privacyConcernsQ1.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- QUESTION 2 -->
                <div class="form-group">
                    {{ form.privacyConcernsQ2.label }}
                    {{ form.privacyConcernsQ2 }}
                    {% for error in form.privacyConcernsQ2.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
                <!-- QUESTION 3 -->
                <div class="form-group">
                    {{ form.privacyConcernsQ3.label }}
                    {{ form.privacyConcernsQ3 }}
                    {% for error in form.privacyConcernsQ3.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
            </fieldset>
            <fieldset class="border-top form-group">
                <div class="form-group">
                    {{ form.correctDisplayed.label }}
                    {{ form.correctDisplayed }}
                    {% for error in form.correctDisplayed.errors %}
                        <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-info') }}
            </div>
        </form>
    </div>
{% endblock content %}
