{% extends 'layout.html' %}
{% block content %}
    <div class="questionnaire">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">News Website Design</legend>
                <p><font size="4">Please answer the following questions based on the news website you just saw:</font></p>
                <!-- QUESTION 1 (GENDER) -->
                <div class="form-group">
                    {{ form.webDesignQ1.label }}<br>
                    <span>Not at all</span>
                    {{ form.webDesignQ1 }}
                    <span>Very much</span>
                </div>
                <!-- QUESTION 2 (AGE) -->
                <div class="form-group">
                    {{ form.webDesignQ2.label }}<br>
                    <span>Not at all</span>
                    {{ form.webDesignQ2 }}
                    <span>Very much</span>
                </div>
                <!-- QUESTION 3 (NATIONALITY) -->
                <div class="form-group">
                    {{ form.webDesignQ3.label }}<br>
                    <span>Not at all</span>
                    {{ form.webDesignQ3 }}
                    <span>Very much</span>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-info') }}
            </div>
        </form>
    </div>

    <!-- JavaScript -->
    <script src="static/script2.js">
    </script>
{% endblock content %}
