{% extends 'layout.html' %}
{% block content %}
    <div class="welcomePage container">
        <div class="page-header">
            <h1>Welcome to the online study <br> "First impression counts"</h1>
        </div>
        <p>This study is about the first impression of news websites in terms of their graphic design. First, you will be directed to
        several news websites (but only shown them for 3 seconds) and asked after each news website whether you think that the website looked appealing to you
        in terms of its layout and colouring (there is no right or wrong, we just want your first impression). After in total eight
        news websites you are directed back to the survey platform to answer a few more general questions. Then the study
        is finished and you will be redirected to Prolific.
        </p>

        <p>The answers will be processed anonymously and the whole procedure takes about 10-15 minutes.</p>

        <p>After successful completion of the study, we will review your participation and pay you XX$.
        </p>

        <p>If you are interested in being informed about the results of this study, you can contact the researcher Paul Grassl
        (p.grassl@bsi.ru.nl).</p>

        <p>If, for any reason, you do not feel comfortable answering the questions you are free to leave the study at any point,
        without having to give any reason for it and without any consequence (participation is voluntary). If you have any further questions, you can
        contact the researcher (through the email address provided above).
        </p>

        <p><i>Additional notes:<br>
            - It is recommended to do the study on a PC/laptop/tablet instead of on a phone.<br>
            - Please do not use the back button during the study. If you want to leave the study at any moment, just close the window. Please note that you won't be granted any money without successfully completing the study though.</i></p>

        <h3>Permission statement</h3>
        <p>For participation in the research project: 'First impression counts'</p>
        <p>I hereby declare that:</p>
        <ul style='list-style-type: disc'>
            <li>I am sufficiently informed about the research and that I have read and understood the information given above</li>
            <li>I have been given ample time to think whether to participate and to give my consent</li>
            <li>I have had the opportunity to ask questions</li>
        </ul>

        <hr>

        <form action="{{ url_for('main.welcome') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.consent.label(class='radio') }}
                {{ form.consent(class='radio', name='consent') }}
                {% for error in form.consent.errors %}
                    <span style="color: #d60000; font-size: 15px">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit(class='btn btn-outline-info') }}
            </div>
        </form>
    </div>
{% endblock content %}
